<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/map.css">
</head>
<body>
	<div id="wap">	
	</div>
	<div id="login_page_father">
		<img src="__PUBLIC__/image/login_bg.png">
		<a id="close" href=""></a>
			<div id="login_content">
				<img id="login_logo" src="__PUBLIC__/image/new.png">
				<form action="" method="post">
					<div id="user_name_d">
						<img class="l" src="__PUBLIC__/image/login_img.png">
						<input id="user_name" type="text">
					</div>
					<div id="password_d">
						<img class="l" src="__PUBLIC__/image/pass_img.png">
						<input id="password" type="password">
					</div>
					<div id="phone_d">
						<img style="float:left;margin:10px 6px 0 0;" src="__PUBLIC__/image/phone.png">
						<input id="phone" type="text">
					</div>
					<div id="qq_d">
						<img style="float:left;margin:10px 6px 0 0;" src="__PUBLIC__/image/qq.png">
						<input id="qq" type="text">
					</div>
					<div id="behavior_d">
						<img style="float:left;" src="__PUBLIC__/image/behavior.png">
						<div id="post_behavior">
							<a href="">动漫</a>
                        <a href="">极客 </a>
                        <a href="">摄影</a>
                        <a href="">lol</a>
                        <a href="">吃货</a>
                        <a href="">篮球</a>
                        <a href="">旅游</a>
                        <a href="">电影</a>
                        <a href="">学霸</a>
                        <a href="">健身</a>
                        <a href="">音乐</a>
                        <a href="">综艺</a>
						</div>	
					</div>
				</form>
				<a id="login_sub" href="">登录</a>
				<a id="skip" href="">跳过</a>
				<a id="yes" href="">确认</a>
				<p id="warming">
					你输入的帐号/密码格式有误
				</p>
			</div>
		</div>
	<div class="big_header">
		<div class="header" id="header">
			<div class="header_container">
				<ul class="nav">
					<li class="cqupt">
						<img src="__PUBLIC__/image/cqupt.png">
						<img src="__PUBLIC__/image/cqupt_f.png">
					</li>
					<li class="index">
						<a href="<{:U('Index/index')}>">首页</a>
					</li>
					<li class="map">
						<a href="<{:U('Map/index')}>">重邮地图</a>
					</li>
					<li>
						<a href="<{:U('Data/index')}>" id="showdat1">数据展示</a>
					</li>
					<li>
						<a href="<{:U('Page/index')}>">重邮百科</a>
					</li>
					<li>
						<a href="<{:U('Windcolor/index')}>">邮子风采</a>
					</li>
					<li>
						<a href="">大声HI</a>
					</li>
					<li class="last">
						<a href="http://hongyan.cqupt.edu.cn/">关于我们</a>
					</li>
					<li id="login1">
						<a id="hehe1">新生登陆</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header" id="H">
			<div class="header_container">
				<ul class="nav">
					<li class="cqupt">
						<img src="__PUBLIC__/image/cqupt.png">
						<img src="__PUBLIC__/image/cqupt_f.png">
					</li>
					<li class="index">
						<a href="<{:U('Index/index')}>">首页</a>
					</li>
					<li class="map">
						<a href="<{:U('Map/index')}>">重邮地图</a>
					</li>
					<li>
						<a href="<{:U('Data/index')}>" id="showdat2">数据展示</a>
					</li>
					<li>
						<a href="<{:U('Page/index')}>">重邮百科</a>
					</li>
					<li>
						<a href="<{:U('Windcolor/index')}>">邮子风采</a>
					</li>
					<li>
						<a href="">大声HI</a>
					</li>
					<li class="last">
						<a href="http://hongyan.cqupt.edu.cn/">关于我们</a>
					</li>
					<li id="login2">
						<a id="hehe2">新生登陆</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="timer">
		<img src="__PUBLIC__/image/maptimerbg.png">
		<div class="timer_container">
			<img id="cloud01" class="cloud01" src="__PUBLIC__/image/cloud01.png">
			<img id="cloud02" class="cloud02" src="__PUBLIC__/image/cloud03.png">
			<img id="cloud03" class="cloud03" src="__PUBLIC__/image/cloud04.png">
			<img id="cloud04" class="cloud04" src="__PUBLIC__/image/cloud05.png">
			<div class="logo"></div>
			<img class="car" src="__PUBLIC__/image/car.png">
			<img src="__PUBLIC__/image/hotball.png"class="hotball">
			<img class="line"src="__PUBLIC__/image/map_line.png">
		</div>
	</div>
	<div class="container">
		<img src="__PUBLIC__/image/mapground.png">
		<div class="container_content">
			<img class="line_right01" src="__PUBLIC__/image/line_right01.png">
			<div class="mapwrapper">
				<a class="active" id = "btu_2D">2D地图</a>
				<a id = "btu_3D">街景地图</a>
				<img src="__PUBLIC__/image/maptitle.png" alt="" class="maptitle">
				<div class = "mapstatic">
					<div id="D2map">
						<p>过头了哦~<br>恭喜你获得<br>拖地图狂魔称号</p>
						<img src="__PUBLIC__/image/map.jpg" id="map">
						<div id="map-face"></div>
						<div id="smallmap"><img src="__PUBLIC__/image/smallmap.jpg"></div>
						<div id="smallmap-face"></div>
						<div id="smallmap-border"></div>
					</div>
					<div id="D3map" style = "height:586px; width:912px;">
					</div>
				</div>
				<img src="__PUBLIC__/image/grass.png" class = "grass">
			</div>
		</div>
		<a id="go_top" href="#"></a>
	</div> 
	<div class="footer">
		<div class="footer_content">
			<p class="b">
				<a href="">
					关于红岩网校
				</a>    
				<span>|</span>    
				<a href="">
					网站地图
				</a>    
				<span>|</span>   
				<a href="">
					指出错误
				</a>    
				<span>|</span>    
				<a href="">
					管理入口
				</a>    
				<span>|</span>
			</p>
			<p>
				本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载
			</p>
			<p style="padding-bottom:46px;">
				地址：重庆市南岸区崇文路2号（重庆邮电大学内） 400065 E-mail :redrock@cqupt.edu.cn (023-62461084)
			</p>
		</div>
	</div>
	<script src="__PUBLIC__/js/demo.js"></script>
	<script src="__PUBLIC__/js/map.js"></script>
	<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=d84d6d83e0e51e481e50454ccbe8986b"></script>
		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.4.4/jquery.js"></script>
		<script src="__PUBLIC__/js/fix.js"></script>
		<?php 
        if($_SESSION){
        echo "<script> 
				document.getElementById('hehe1').childNodes[0].nodeValue = '退出';
                document.getElementById('hehe2').childNodes[0].nodeValue = '退出';
                var logOut = document.getElementById('hehe1');
		        logOut.childNodes[0].nodeValue = '退出';
		        logOut.onclick = function(){
		            window.location.href = 'index.php?m=Home&c=Index&a=logOut';
		        }
		        var logOut = document.getElementById('hehe2');
		        logOut.childNodes[0].nodeValue = '退出';
		        logOut.onclick = function(){
	            window.location.href = 'index.php?m=Home&c=Index&a=logOut';
                }        	
        	</script>";
        }else{
            echo "<script>
                var btn1 = document.getElementById('showdat1');
                var btn2 = document.getElementById('showdat2');
                btn1.onclick = function(){
                    btn1.href = '#';
                    alert('还没登陆呢亲');
                }
                btn2.onclick = function(){
                    btn2.href = '#';
                    alert('还没登陆呢亲');
                }
            </script>";
        }
        ?>
	<script>
	var url = "<{:U('Index/login')}>";
            $('#login_sub').click(function(){
            var username = $('#user_name');
            var password = $('#password');
            $.post(
                url ,{username: username.val(), password: password.val()}, 
                function(data){
                    if(data.status){
                        document.getElementById('hehe1').childNodes[0].nodeValue = '退出';
                        document.getElementById('hehe2').childNodes[0].nodeValue = '退出';
                        var logOut = document.getElementById('hehe1');
		                logOut.childNodes[0].nodeValue = '退出';
		                logOut.onclick = function(){
		                    window.location.href = 'index.php?m=Home&c=Index&a=logOut';
		                }
		                var logOut = document.getElementById('hehe2');
		                logOut.childNodes[0].nodeValue = '退出';
		                logOut.onclick = function(){
		                    window.location.href = 'index.php?m=Home&c=Index&a=logOut';
		                }
		                if(data.is_hobby){
							window.location.href = 'index.php?m=Home&c=Index&a=index';
						}
                    }else{
                        window.location.href = "<{:U('Index/index')}>";
                        alert("用户名或密码错误");
                    }
                },"json");
            })
//登陆部分
        var url2 = "<{:U('Index/insertMsg')}>";
            $('#yes').click(function(){
                ($('#qq').val()) ? qq = $('#qq').val() : qq = ""; 
                ($('#phone').val()) ? phone = $('#phone').val() : phone = "";
                (beh_arr[0]) ? hobby1 = beh_arr[0] : hobby1 = "";
                (beh_arr[1]) ? hobby2 = beh_arr[1] : hobby2 = "";
                (beh_arr[2]) ? hobby3 = beh_arr[2] : hobby3 = "";
                if(!qq || !phone || !beh_arr){
                    alert('信息不呢过为空呢亲');
                }else{
                $.post(
                    url2,{qq_num: qq, phone_num: phone, hobby1: hobby1, hobby2: hobby2, hobby3: hobby3},
                    function(data){
                        if(data.status){
                            alert("添加成功");
                            window.location.href = 'index.php?m=Home&c=Index&a=index';
                        }else{
                            alert("添加失败");
                            window.location.href = 'index.php?m=Home&c=Index&a=index';
                        }
                    },"json")
            	}
            })
    //添加兴趣爱好部分
	</script>
</body>
</html>